name: Newman Run

on:
  pull_request:
    branches:
      - main

jobs:
  newman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - run: mvn package -DskipTests
      - run: docker build . -t games-api
      - run: docker compose up -d
      - run: sleep 3
      - run: npm install -g newman
      - run: newman run games.postman_collection.json -e local.postman_environment.json
